<html>
    <head>
        <meta charset="utf-8">
        <title>Crud - pet</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/estilos.css" />

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://unpkg.com/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
        <script src="https://unpkg.com/vuelidate@0.7.4/dist/validators.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    </head> 
    <body>         
        <div id="app" class="container">               
                <h2>Listagem de Animais do Petshop</h2>   

                <table class="table table-striped">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF Tutor</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Vacinação</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Remover</th>
                    </tr>                     
                    <tbody>
                        <tr v-for="(pet, indice) in animais">                                                  
                                <td>{{indice}}</td>
                                <td>{{pet.nome}}</td>
                                <td>{{pet.cpf_tutor}}</td>
                                <td>{{pet.raca}}</td>
                                <td>{{pet.data_nascimento}}</td>
                                <td v-if="pet.vacinado"><input type="checkbox" checked disabled></td>
                                <td v-if="!pet.vacinado"><input type="checkbox" disabled></td>
                                <td>{{pet.valor | currency}}</td>
                                <td><button v-on:click="editPet(indice)" class="btn" type="button">Alterar</button></td>
                                <td><button v-on:click="remPet(indice)" class="btn" type="button">Remover</button></td>
                        </tr>
                    </tbody>
                </table>

                <form id="formulario">

                    <h3>Formulário para cadastrar novo animal</h3>                        

                        <div class="form-group">
                            <label for="inputIndice">#:</label>
                            <input type="text" v-model="novo_animal.indice" class="form__input" id="inputIndice" disabled>
                        </div>

                        <div class="error" v-if="!$v.novo_animal.nome.$pending && !$v.novo_animal.nome.$model">Nome deve ter entre 4 e 12 caracteres.</div>
                        <div class="form-group">
                            <label class="form__label" for="inputNome">Nome:</label>
                            <input class="form__input" type="text" v-model.trim="$v.novo_animal.nome.$model" :class="status($v.novo_animal.nome)" id="inputNome">
                        </div>

                        <div class="error" v-if="!$v.novo_animal.cpf_tutor.$pending && !$v.novo_animal.cpf_tutor.$model">CPF deve ter 11 caracteres.</div>
                        <div class="form-group">
                            <label class="form__label" for="inputCpf">CPF Tutor:</label>
                            <input class="form__input" type="text" v-model.trim="$v.novo_animal.cpf_tutor.$model" :class="status($v.novo_animal.cpf_tutor)" id="inputCpf">
                        </div>

                        <div class="error" v-if="!$v.novo_animal.raca.required">Selecione uma opção de raça.</div>
                        <div class="form-group">
                            <label class="form__label" for="selectRaca">Raça:</label>
                            <select class="form__input" v-model="$v.novo_animal.raca.$model" :class="status($v.novo_animal.raca)" id="selectRaca">
                                <option value="">Selecione</option>
                                <option value="poodle">poodle</option>
                                <option value="spitz alemão">spitz alemão</option>
                                <option value="golden">golden</option>
                                <option value="labrador">labrador</option>
                                <option value="pintcher">pintcher</option>
                                <option value="bulldog">bulldog</option>
                                <option value="pittbull">pittbull</option>
                                <option value="husky">husky</option>
                                <option value="shihtzu">shihtzu</option>
                                <option value="Chihuahua">Chihuahua</option>
                            </select>
                        </div>

                        <div class="error" v-if="!$v.novo_animal.data_nascimento.$pending && !$v.novo_animal.data_nascimento.$model">Informe uma data válida (anterior à data atual).</div>
                        <div class="form-group">
                            <label class="form__label" for="inputDtNasc">Data de Nascimento:</label>                            
                            <input class="form__input" type="date" v-model="$v.novo_animal.data_nascimento.$model" :class="status($v.novo_animal.data_nascimento)" id="inputDtNasc">
                        </div>

                        <div class="form-group">
                            <label for="checkVacinado">Vacinação:</label>
                            <input type="checkbox" v-model="novo_animal.vacinado" id="checkVacinado">
                        </div>

                        <div class="error" v-if="!$v.novo_animal.valor.$pending && !$v.novo_animal.valor.$model">Valor deve ser maior que 100,00.</div>
                        <div class="form-group">
                            <label class="form__label" for="inputValor">Valor:</label>
                            <input class="form__input" type="number" v-model="$v.novo_animal.valor.$model" :class="status($v.novo_animal.valor)" id="inputValor" min="100">
                        </div>

                        <button @click="addAnimal($v)" class="btn btn-primary" type="button">Salvar</button>
                        <button @click="cleanFormulario" class="btn btn-primary" type="button">Limpar</button>
                </form>
        </div>       
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            var dados = { 
                    categorias: [{codigo: 1, descricao: 'Cachorro'}],
                    animais: JSON.parse(localStorage.getItem('animais')) || [ {nome: 'Madona', cpf_tutor: '123456789101', raca: 'spitz alemão', data_nascimento: '', vacinado: true, valor: 200 }], 
                    novo_animal: {indice: '', nome: '', cpf_tutor: '', raca: '', data_nascimento: '', vacinado: false, valor: 0}
            };

        Vue.use(window.vuelidate.default);

        const {
            required,
            minLength,
            minValue,
            between,
            maxLength
        } = window.validators

          new Vue({ 
                el: '#app', 
                data: dados,
                validations: {
                    novo_animal: {
                                    nome: {
                                        required, 
                                        minLength: minLength(4), 
                                        maxLength: maxLength(12)
                                    },
                                    cpf_tutor: {
                                        required, 
                                        minLength: minLength(11), 
                                        maxLength: maxLength(11)
                                    },
                                    raca: {
                                        required
                                    },
                                    data_nascimento: {
                                        required,
                                        minValue: value => value < new Date().toISOString()
                                    },
                                    vacinado: {
                                        required
                                    },
                                    valor: {
                                        required,
                                        minValue: minValue(100)
                                    }
                    }
                },
                methods: { 

                    isLetter(e) {
                        let char = String.fromCharCode(e.keyCode); 
                        if(/^[A-Za-z]+$/.test(char)) 
                            return true; 
                        else 
                            e.preventDefault(); 
                    },

                    status(validation) {
                        return {
                            error: validation.$error,
                            dirty: validation.$dirty
                        }
                    },

                    addAnimal: function (v) {
                        if(!v.$invalid){
                            if(isNaN(parseInt(this.novo_animal.indice))){
                                this.animais.push({nome: this.novo_animal.nome, 
                                                 cpf_tutor: this.novo_animal.cpf_tutor.trim(), 
                                                 raca: this.novo_animal.raca, 
                                                 data_nascimento: this.novo_animal.data_nascimento.trim(), 
                                                 vacinado: this.novo_animal.vacinado, 
                                                 valor: this.novo_animal.valor,

                                                });
                                alert('Novo animal cadastrado!');
                            }else{
                                this.animais[this.novo_animal.indice] = {nome: this.novo_animal.nome.trim(), 
                                                 cpf_tutor: this.novo_animal.cpf_tutor.trim(), 
                                                 raca: this.novo_animal.raca, 
                                                 data_nascimento: this.novo_animal.data_nascimento.trim(), 
                                                 vacinado: this.novo_animal.vacinado, 
                                                 valor: this.novo_animal.valor,

                                                };
                                alert('Animal alterado!');
                            }
                            this.saveToLocalStorage(); 
                            this.cleanFormulario();
                        }else{
                            alert("Atenção! Formulário incompleto.");
                        }
                    },

                    editPet: function (param_index) {
                        this.novo_animal.indice = param_index;
                        this.novo_animal.nome = this.animais[param_index].nome; 
                        this.novo_animal.cpf_tutor = this.animais[param_index].cpf_tutor;
                        this.novo_animal.raca = this.animais[param_index].raca;
                        this.novo_animal.data_nascimento = this.animais[param_index].data_nascimento;
                        this.novo_animal.vacinado = this.animais[param_index].vacinado;
                        this.novo_animal.valor = this.animais[param_index].valor;
                    },

                    remPet: function(param_index){
                        var r = confirm("Deseja realmente remover o animal " + this.animais[param_index].nome);
                        if (r == true) {
                            this.animais.splice(param_index, 1);
                            alert('Animal removido!');
                            this.saveToLocalStorage(); 
                        } else {
                            alert('Animal não removido.');
                        }
                    },

                    saveToLocalStorage: function() {
                        localStorage.setItem('animais', JSON.stringify(this.animais));
                    },
                    
                    cleanFormulario: function() {
                        this.novo_animal.indice = '';
                        this.novo_animal.nome = ''; 
                        this.novo_animal.cpf_tutor = '';
                        this.novo_animal.raca = '';
                        this.novo_animal.data_nascimento = '';
                        this.novo_animal.vacinado = false;
                        this.novo_animal.valor = 0;
                    }
                }
            }); 
        });
    </script> 
</html>