body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9c9b9b;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

.perfil {
    width: 150px;
    border-radius: 50%;
}

h1, h2 {
    color: #a10000;
}

p, ul, table {
    color: #a10000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #a10000;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
